.navbar {
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
}

body {
    margin-top: 130px;
}

@media screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.header-default {
    height: 100px;
    width: auto;
    margin: 10px;
}

.header-scrolled {
    height: 75px;
    width: auto;
    margin: 5px;
}

.column {
    margin-left: auto;
    text-align: right;
}