#main-container {
    width: 100%;
    height: 100%;
    display: block;
}


/*Start style for top banner*/

#top-banner {
    display: flex;
    min-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}


/*Start Style for nav bar*/

.topnav-container {
    position: sticky;
    background-color: #00a8f3;
    top: 0px;
    z-index: 30;
}

.topnav {
    top: 0;
    overflow: hidden;
    background-color: #cdecef;
    border-style: solid;
    border-color: #00a8f3;
    border-width: 3px 0px 0px 0px;
    margin-top: 15px;
}

.topnav a {
    float: left;
    display: block;
    color: #00a8f3;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #00a8f3;
    color: #cdecef;
    transition: 0.3s;
}

.topnav a.active {
    background-color: #00a8f3;
    color: #cdecef;
}

.topnav .icon {
    display: none;
    margin-right: 15px;
}


/*Start Style for carousel*/

.carousel-container {
    width: 100%;
    height: 500px;
    background-color: red;
}

.carousel-inner {
    height: 510px;
}

.carousel-item.active {
    height: 500px!important;
}

.carousel-item {
    text-align: center;
    height: 500px!important;
}

.carousel-item img {
    object-fit: cover;
    height: 100%!important;
}

.carousel-content {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    z-index: 20;
    color: white;
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, .6);*/
}

.carousel-content a {
    border-radius: 5px;
    margin-top: 10px;
    color: #cdecef;
    border-style: solid;
    border-color: #cdecef;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 2px 2px 2px 2px;
}

.carousel-content h2 {
    color: #cdecef;
    margin-bottom: 10px;
}

.carousel-content h4 {
    color: #cdecef;
    margin-bottom: 40px;
}

.carousel-content a:hover {
    background-color: #cdecef;
    color: #00a8f3;
    transition: 0.5s;
    text-decoration: none;
}

.row h1 {
    text-align: center;
    margin-right: 180px;
    color: #00a8f3;
}

#right-text {
    text-align: left;
    border-radius: 5px;
}


/* Tabs names inside banner */

.banner-text-centered {
    color: #cdecef;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -150px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.boldText {
    font-weight: bold;
}

.greyText {
    color: rgb(99, 99, 99);
}


/*Styles for dentist bio*/

#dentist-img {
    width: 200px;
    height: 400px;
}

#medium-text-container {
    text-align: center;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 3px #000000;
    border-radius: 5px;
    height: 550px;
    padding: 10px;
}

.fullwidth-container {
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: #f1f1f1;
    height: 750px;
    margin-bottom: 50px;
}

.real-content {
    background-color: aliceblue;
    padding-top: 60px;
    padding-bottom: 60px;
}

#container-hours-operation span {
    width: 50%;
    display: inline-block;
    margin-bottom: 15px;
    border-style: solid;
    border-color: #00a8f3;
    border-width: 0px 0px 2px 0px;
    padding-bottom: 5px;
}

@media screen and (max-width: 1200px) {
    #column-email {
        display: none!important;
    }
    #column-phone {
        display: none!important;
    }
    .row #column-empty {
        display: none!important;
    }
}

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 1000px) {
    .row #col-placeholder {
        display: none!important;
    }
}

.grow {
    flex: 1;
}